In [1]:
from modules.build_substring import NERDString

In [2]:
ns = NERDString('Create a search for the scientist Ryan Willett who attended Columbia University after 2003-02-11 and before 2012 on www.brandeis.edu')

In [3]:
ns.doc

Create a search for the scientist Ryan Willett who attended Columbia University after 2003-02-11 and before 2012 on www.brandeis.edu

In [4]:
ns.entities

                  name  entity
0         Ryan Willett  PERSON
1  Columbia University     ORG
2           2003-02-11    DATE
3                 2012    DATE

In [5]:
ns.data

{'persons': ['Ryan Willett'],
 'orgs': ['Columbia University'],
 'min_date': '2003-02-11',
 'max_date': '2012-01-01',
 'urls': ['www.brandeis.edu']}

In [109]:
ns.text

'Create a search for the scientist Ryan Willett who attended Columbia University after 2003-02-11 and before 2012 on www.brandeis.edu'

In [110]:
print(extract_date(ns))

Min date: 2003-02-11
Max date: 2012-01-01

In [111]:
urls = 'Ryan Willett Columbia University ryan.willett@gmail.com www.google.com.  www.columbia.edu  rtwillett.github.io'.lower()

In [92]:
# with open('./data/ip_domains.txt', mode='r') as f: 
#     data_raw = f.read()
#     data = data_raw.split('\n')

In [93]:
# [d.lower() for d in data if '#' not in d]

In [97]:
import re
url_pat = [i for i in urls.split() if ('.' in i) and ('@' not in i)]

# [i for i in re.findall('[a-z0-9-_.]{1,}', url_pat) if re.search('[.]', i)]
url_pat

['www.google.com.', 'www.columbia.edu', 'rtwillett.github.io']

In [ ]:
ns.ner_extracts

In [ ]:
ns.ner_extracts['PERSON']